<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script type="module" src="/js/login.js"></script>
        <script type="module" src="/js/clients.js"></script>
        <title>ACT CLIENTS</title>
    </head>
    <body>
        {% include "signedInHeader.html" %}
        <main>
            <div class="container">
                <h2>Client Portfolio <a href="#" title="Add Client" onclick="loadStockForm(); toggleStockForm()">➕</a></h2>

                <div id="newStockForm" style="display: none;" onload="loadStockForm()">
                    <select id="stock" class="inputField" required>
                        <option value="" disabled selected>Choose a stock to purchase</option>
                    </select>
                    <label for="quantity">#</label>
                    <input id="quantity" class="inputField" type="number" min="1" placeholder="Enter quantity" required />
                    <label for="alertValue">$</label>
                    <input id="alertValue" class="inputField" type="number" min="0" placeholder="Enter alert value" required />
                    <button class="heroButton" onclick="addStock()">Purchase</button>
                    <button class="heroButton" onclick="toggleStockForm()">Cancel</button>
                </div>

                <table id="clientsStockTable">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>#</th>
                            <th>Value</th>
                            <th>Alert Value</th>
                            <th>Sell</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <a class="heroButton" onclick="cancelEdit()">Go Back</a>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>