<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script type="module" src="/js/login.js"></script>
        <script type="module" src="/js/clients.js"></script>
        <title>ACT CLIENTS</title>
    </head>
    <body>
        {% include "signedInHeader.html" %}
        <main>
            <div class="container">
                <h2>Clients <a href="#" title="Add Client" onclick="toggleClientForm()">➕</a></h2>

                <div id="clientForm" style="display: none;">
                    <h3>Add Client</h3>
                    <input type="text" id="clientName" class="inputField" placeholder="Client Name" required />
                    <input type="email" id="clientEmail" class="inputField" placeholder="Client Email" required />
                    <button class="heroButton" onclick="createClient()">Add</button>
                    <button class="heroButton" onclick="toggleClientForm()">Cancel</button>
                </div>

                <table onload="getClients()" id="clientsTable">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </main>
        {% include "footer.html" %}
    </body>
</html>