<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <script type="module" src="js/finance-rep.js"></script>
        <title>ACT REPORT</title>
    </head>
    <body>
        {% include "signedInHeader.html" %}
        <main>
            <h2>Stock Prices</h2>

            <table>
                <thead>
                    <tr>
                        <th>Short Name</th>
                        <th>Long Name</th>
                        <th>Price</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody id="stock-table-body">
                </tbody>
            </table>
        </main>
        <footer>
            <div class="footerBottom">
                <p>Copyright &copy;2023; Designed by <span class="designer">Nichita, Daniel, Alex, Wiktor</span></p>
            </div>
        </footer>
    </body>
</html>
