<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/style.css">
        <title>ACT LOGIN</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <a href="index.html" class="nav-branding">ACT</a>
                <div class="nav-menu">
                    <div class="nav-menu">
                        <div class="nav-item">
                            <a href="register.html" class="nav-link">REGISTER</a>
                        </div>
                        <div class="nav-item">
                            <a href="login.html" class="nav-link">LOG IN</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <h2>Login</h2>
                <input type="text" placeholder="Username" class="inputField" id="email" required>
                <input type="text" placeholder="Password" class="inputField" id=password required>
                <a href="prediction.html" class="heroButton" onclick="signInUser()">Login</a>
                <p>or</p>
                <button type="button" class="login-with-google-btn">
                    Sign in with Google
                </button>
            </div>
        </main>
        <footer>
            <div class="footerBottom">
                <p>Copyright &copy;2023; Designed by <span class="designer">Nichita, Daniel, Alex, Wiktor</span></p>
            </div>
        </footer>
        <script type="module" src="/js/app.js"></script>
    </body>
</html>